.graph, .vertex, .edge, .edge-selected, .vertex-selected {
    --background: rgb(255, 255, 255);

    --vertex-color: rgb(192, 135, 29);
    --vertex-text-color: rgb(0, 0, 0);
    --vertex-selected-color: rgb(69, 208, 31);

    --edge-color: rgb(192, 135, 29);
    --edge-text-color: rgb(0, 0, 0);
    --edge-selected-color: rgb(69, 208, 31);
}

.graph rect {
    fill: var(--background);
    stroke-width: 3px;
    stroke: black;
}

.vertex circle {
    fill: var(--vertex-color);
    stroke-width: 2px;
    stroke: black;
    cursor: grab;
}

.vertex text {
    stroke: var(--vertex-text-color);
    cursor: grab;
    text-anchor: middle;
    dominant-baseline: middle;
}

.selected circle {
    fill: var(--vertex-selected-color);
}

.edge line {
    stroke: var(--edge-color);
    stroke-width: 3px;
}

.edge text {
    stroke: var(--edge-text-color);
}

.selected line {
    stroke: var(--edge-selected-color);
}
